{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "add-module-exports",
    "@babel/plugin-proposal-optional-chaining"
  ]
}